<!-- /**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 ko text: element[attribute].attribute_code 

-->
<div class="shipping-address-item col-lg-4 col-md-4 col-sm-12 col-xs-12" data-bind="css: isSelected() ? 'selected-item' : 'not-selected-item'">
    <div class="contenedorDirecciones">
        <!-- ko text: address().firstname --><!-- /ko -->    
        <!-- ko text: address().lastname --><!-- /ko --><br/>
        <!-- ko text: _.values(address().street).join(", ") --><!-- /ko --><br/>
        <!-- ko text: getCountryName(address().countryId) --><!-- /ko --><br/>
        <!-- ko if: (address().telephone) -->
        <a data-bind="text: address().telephone, attr: {'href': 'tel:' + address().telephone}"></a>
        <!-- /ko -->
    </div>
    <button type="button" class="action edit-address-link"
            data-bind="click: editAddress, visible: address().isEditable()">
        <span data-bind="i18n: 'Edit'"></span>
    </button>
    <button type="button" data-bind="click: selectAddress" class="action action-select-shipping-item">
        <span data-bind="i18n: 'Ship Here'"></span>
    </button>
</div>