<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <imagineer_customcredit>
              <title>Coopelesca Credit</title>
              <model>Imagineer\CustomCredit\Model\ImagineerCredit</model>
              <active>1</active>
              <cctypes>VI,MC</cctypes>              
            </imagineer_customcredit>
        </payment>
    </default>
</config>